# Bus Open Data Service API Key. From <https://data.bus-data.dft.gov.uk/account/settings/>
BODS_API_KEY=your_api_key_here

# National Rail Data Portal credentials. From <https://opendata.nationalrail.co.uk/>
NRDP_username=your_username_here
NRDP_password=your_password_here

# Only needed for data_sources/walkhighlands/postprocess.js, which does not need to be re-run unless you redownload routes
ANTHROPIC_API_KEY=your_key

GOOGLE_MAPS_EMBED_KEY=your_google_maps_embed_key_here
